
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_WebisteLayout.cshtml";
}

<section class="page-title" style="background-image:url(../../WebsiteCss/images/background/about-banner.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="title-box">
                <h1>About Us</h1>
                <span class="title">The Best Trusted Product For You</span>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="index.html" class="text-white">Home</a></li>
                <li class="text-white">About the Company</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- About Section -->
<section class="about-section">
    <div class="auto-container">
        <div class="row no-gutters">
            <!-- Image Column -->
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="../../WebsiteCss/images/dhara-main.png" class="img-responsive" alt="dhara-main">
            </div>
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="wow fadeInLeft">
                    <div class="content-box">
                        <div class="title-heading1">
                            <h5>Harbal Products</h5>
                            <h1>About The Company</h1>
                        </div>
                        <p class="text-justify">“Dhara World Health & Personal care Pvt Ltd is a wellness & personal care oriented company driven by young professionals whom having over decades of experience in direct selling.”</p>
                        <p class="text-justify">
                            “Company is lead by a team of young qualified & skilled professionals to initiate, inspire and implement the system which empowers its members with the opportunity to lead their lives on their own terms And that provides
                            totally financial freedom to individual with success & prosperity.”
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Content Column -->
            <div class="content-column col-lg-12 col-md-12 col-sm-12">
                <div class="wow fadeInLeft">
                    <div class="content-box1">
                        <p class="text-justify">
                            Our company is one the outstanding company in India. We deal in verity of products which are genuine and good for nature friendly. Having a positive outlook is a choice . You can choose to think thoughts that elevate your
                            mood, throw a more constructive light on difficult situations, and generally color your day with brighter, more hopeful approaches to the things you do . By choosing to take a positive outlook on life, you can begin
                            to shift out of a negative frame of mind and see life as filled with possibilities and solutions instead of worries and obstacles Being the largest Ayurvedic & herbal products manufacturer in India, Dream Crusher defines
                            the best Ayurvedic Producer and Exporters in India. Ayurveda, as always been the root for longevity of life, has amazingly restored the health of millions of people every single day. These products are also well known
                            in International States by the name of Dietary Supplement & Natural Supplement.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Section -->
<!--Clients Section-->
<section class="clients-section style-two">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-1.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-2.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-3.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-4.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-5.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-6.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-7.jpg" alt="client"></a>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>

