
@{
    ViewBag.Title = "Downloads";
    Layout = "~/Views/Shared/_WebisteLayout.cshtml";
}
<!-- End Main Header -->
<!--Page Title-->
<section class="page-title" style="background-image:url(../WebsiteCss/images/background/5.jpg)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <div class="title">Welcome to Dream Crushers Pvt. Ltd.</div>
                <h2>Downloads</h2>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="/Home/Website">home</a></li>
                    <li>Downloads</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar">
                    <div class="sidebar-inner">

                        <!-- Contact Widget -->
                        <div class="sidebar-widget contact-widget">
                            <div class="widget-content"
                                 style="background-image:url(../WebsiteCss/images/background/pattern-12.png)">
                                <div class="icon flaticon-phone-call"></div>
                                <div class="text">Got any Questions? <br> Call Us Today</div>
                                <div class="number">+91 7275 065834</div>
                                <div class="email">support@Dreamcrushers.In</div>
                            </div>
                        </div>

                    </div>
                </aside>
            </div>

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="service-detail">
                    <div class="inner-box">
                        <div class="lower-content">
                            <div class="text">
                                <h3>Market Strategy</h3>
                                <p>
                                    Lab that keep us at the forefront of innovation. Our Trading helps clients
                                    run and transform their front, middle and back-office trading operations. We
                                    provide buy-side, sell-side and market infrastructure firms with a
                                    full-service offering, including systems integration and technology
                                    consulting Our Trading helps clients run and transform their front, middle
                                    and back-office trading operations.
                                </p>
                                <div class="two-column">
                                    <div class="row clearfix">
                                        <!-- Column -->
                                        <div class="column col-lg-6 col-md-6 col-sm-12">
                                            <h3>Charts Groth</h3>
                                            <p>
                                                consist of a series of percentile curves that illustrate the
                                                distribution of selected body measurements in children.
                                                Pediatric growth charts have been used by pediatricians, nurses,
                                                and parents to track the growth of infants, children, and
                                                adolescents in the United States since 1977.
                                            </p>
                                        </div>
                                        <!-- Column -->
                                        <div class="column col-lg-6 col-md-6 col-sm-12">
                                            <div class="chart-image">
                                                <img src="../WebsiteCss/images/resource/chart.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>