
@{
    ViewBag.Title = "Vission";
    Layout = "~/Views/Shared/_WebisteLayout.cshtml";
}

<section class="page-title" style="background-image:url(../../WebsiteCss/images/background/about-banner.jpg);">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="title-box">
                <h1>Our Vision & Mission</h1>
                <span class="title">The Best Trusted Product For You</span>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/Home/Website" class="text-white">Home</a></li>
                <li class="text-white">Our Vision & Mission</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- About Section -->
<section class="about-section">
    <div class="auto-container">
        <div class="row no-gutters">
            <!-- Image Column -->
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="../../WebsiteCss/images/our-vision.png" class="img-responsive" alt="dhara-main">
            </div>
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="wow fadeInLeft">
                    <div class="content-box1">
                        <div class="title-heading1">
                            <h5>Harbal Products</h5>
                            <h1>Our Vision</h1>
                        </div>
                        <p class="text-justify">
                            To establish Dhara World as a research based company using core ethical values of Ayurveda, developing new Herbal products for the nutritional and therapeutic purposes for the effective treatment of human and animal diseases
                            which are creating havoc in the society. To make entry of Dhara world into Biotechnology business for making Vaccines and therapeutic enzymes in the near future to give new dimensions to human and animal health.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="wow fadeInLeft">
                    <div class="ourmission1">
                        <div class="title-heading1">
                            <h5>Harbal Products</h5>
                            <h1>Our Mission</h1>
                        </div>
                        <p class="text-justify">
                            To establish health care business into the area where it is untouched for the time being, to make strong, everlasting penetration in the World market. To establish Dhara world as the competitive well recognized and respected
                            company in the health care market.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Image Column -->
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="../../WebsiteCss/images/our-mission.png" class="img-responsive" alt="dhara-main">
            </div>

        </div>
    </div>
</section>
<!--End About Section -->
<!--Clients Section-->
<section class="clients-section style-two">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-1.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-2.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-3.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-4.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-5.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-6.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-7.jpg" alt="client"></a>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>

