
@{
    ViewBag.Title = "Website";
    Layout = "~/Views/Shared/_WebisteLayout.cshtml";
}



<!-- End Bnner Section -->
<!-- About Section -->
<section class="about-section">
    <div class="auto-container">
        <div class="row no-gutters">
            <!-- Image Column -->
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="../../WebsiteCss/images/dhara-main.png" class="img-responsive" alt="dhara-main">
            </div>
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="wow fadeInLeft">
                    <div class="content-box">
                        <div class="title-heading">
                            <h1>Welcome To</h1>
                            <h3>Dhara World</h3>
                        </div>
                        <p class="text-justify">
                            “Dhara World Health & Personal care Pvt Ltd is a wellness & personal care oriented company driven by young professionals whom having over decades of experience in direct selling. Company is lead by a team of young qualified
                            & skilled professionals to initiate, inspire and implement the system which empowers its members with the opportunity to lead their lives on their own terms And that provides totally financial freedom to individual
                            with success & prosperity.
                        </p>
                        <br>
                        <div class="link-box"><a href="#" class="theme-btn btn-style-one">Read More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Section -->
<!--Clients Section-->
<!--End Clients Section-->
