
@{
    ViewBag.Title = "Website";
    Layout = "~/Views/Shared/_WebisteLayout.cshtml";
}


<section class="banner-section-three">
    <div class="banner-carousel-two owl-carousel owl-theme">
        <!-- Slide Item -->
        <div class="slide-item" style="background-image: url(../../WebsiteCss/images/main-slider/banner1.jpg);">
            <div class="auto-container">
                <div class="content-box clearfix">
                    <div class="inner-box">
                        <h4 class="title">100% Pure And Natural</h4>
                        <h2>Harbal Products</h2>
                        <div class="text">The Best Trusted Product For You</div>
                    </div>
                </div>
            </div>
        </div>     
        <!-- Slide Item -->
        <div class="slide-item" style="background-image: url(../../WebsiteCss/images/main-slider/banner2.jpg);">
            <div class="auto-container">
                <div class="content-box clearfix">
                    <div class="inner-box">
                        <h4 class="title">100% Pure And Natural</h4>
                        <h2>Harbal Products</h2>
                        <div class="text">The Best Trusted Product For You</div>
                    </div>
                </div>
            </div>
        </div>  
        <!-- Slide Item -->
        <div class="slide-item" style="background-image: url(../../WebsiteCss/images/main-slider/banner3.jpg);">
            <div class="auto-container">
                <div class="content-box clearfix">
                    <div class="inner-box">
                        <h4 class="title">100% Pure And Natural</h4>
                        <h2>Harbal Products</h2>
                        <div class="text">The Best Trusted Product For You</div>
                    </div>
                </div>
            </div>
        </div>  
        <!-- Slide Item -->
        <div class="slide-item" style="background-image: url(../../WebsiteCss/images/main-slider/banner4.jpg);">
            <div class="auto-container">
                <div class="content-box clearfix">
                    <div class="inner-box">
                        <h4 class="title">100% Pure And Natural</h4>
                        <h2>Harbal Products</h2>
                        <div class="text">The Best Trusted Product For You</div>
                    </div>
                </div>
            </div>
        </div>  
      
    
    </div>
    <div class="bottom-box">
        <div class="auto-container">
            <div class="outer-box clearfix">
                <ul class="social-links clearfix">
                    <li><a href="#" class="text-white"><span class="fa fa-facebook text-white"></span> Facebook</a></li>
                    <li><a href="#" class="text-white"><span class="fa fa-twitter text-white"></span> Twitter</a></li>
                    <li><a href="#" class="text-white"><span class="fa fa-google-plus text-white"></span> Gmail</a></li>
                    <li><a href="#" class="text-white"><span class="fa fa-instagram text-white"></span> Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Bnner Section -->
<!-- About Section -->
<section class="about-section">
    <div class="auto-container">
        <div class="row no-gutters">
            <!-- Image Column -->
            <div class="col-lg-6 col-md-12 col-sm-12">
                <img src="../../WebsiteCss/images/dhara-main.png" class="img-responsive" alt="dhara-main">
            </div>
            <!-- Content Column -->
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="wow fadeInLeft">
                    <div class="content-box">
                        <div class="title-heading">
                            <h1>Welcome To</h1>
                            <h3>Dhara World</h3>
                        </div>
                        <p class="text-justify">
                            “Dhara World Health & Personal care Pvt Ltd is a wellness & personal care oriented company driven by young professionals whom having over decades of experience in direct selling. Company is lead by a team of young qualified
                            & skilled professionals to initiate, inspire and implement the system which empowers its members with the opportunity to lead their lives on their own terms And that provides totally financial freedom to individual
                            with success & prosperity.
                        </p>
                        <br>
                        <div class="link-box"><a href="#" class="theme-btn btn-style-one">Read More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End About Section -->
<!-- Why choose us Section Start-->
<section class="why-choose-us-three four pb-100">
    <div class="container">
        <div class="title-heading1 text-center">
            <h5>Herbal Products</h5>
            <h1>The Best Trusted Product For You</h1>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-12 col-md-6 p-0">
                        <div class="single-choose-three mr-2">
                            <img src="../../WebsiteCss/images/icons/icon1.png" alt="icons">
                            <h3>100% ORGANIC</h3>
                            <p>100% Organic Herbal Health & Beauty Products,</p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 p-0">
                        <div class="single-choose-three ml-2 ">
                            <img src="../../WebsiteCss/images/icons/icon2.png" alt="icons">
                            <h3>100% PURE</h3>
                            <p>100% PURE is the most healthy and most nourishing Product .</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="choose-img-three four">
                    <img src="../../WebsiteCss/images/choose-us-img-four.png" alt="">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-12 col-md-6 p-0">
                        <div class="single-choose-three ml-2">
                            <img src="../../WebsiteCss/images/icons/icon3.png" alt="icons">
                            <h3>100% NATURAL</h3>
                            <p>Dhara World is India's leading online organic store that offers 100% natural, .</p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 p-0">
                        <div class="single-choose-three mr-2">
                            <img src="../../WebsiteCss/images/icons/icon4.png" alt="icons">
                            <h3>100% AYURVEDIC</h3>
                            <p>A 100% Ayurvedic solution to support you in making life a happier experience always. .</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Why choose us Section End-->
<!-- Team Section -->
<section class="team-section">
    <div class="auto-container">
        <div class="title-heading1 text-center">
            <h5>Herbal Products</h5>
            <h1>HOT SELLING PRODUCTS</h1>
        </div>
        <div class="row clearfix">
            <!-- Team Block -->
            <div class="team-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <div class="image">
                            <img src="../../WebsiteCss/images/products/hsp3.jpg" alt="hot selling product">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Block -->
            <div class="team-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <div class="image">
                            <img src="../../WebsiteCss/images/products/hsp2.jpg" alt="hot selling product">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Block -->
            <div class="team-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <div class="image">
                            <img src="../../WebsiteCss/images/products/hsp3.jpg" alt="hot selling product">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Team Section -->
<!-- Projects Section -->
<section class="projects-section alternate">
    <div class="auto-container">
        <div class="title-heading1 text-center">
            <h5>Herbal Products</h5>
            <h1>OUR PRODUCTS</h1>
        </div>
        <!--MixitUp Galery-->
        <div class="mixitup-gallery">
            <!--Filter-->
            <div class="filters text-center clearfix">
                <ul class="filter-tabs filter-btns clearfix">
                    <li class="active filter" data-role="button" data-filter="all">All Products</li>
                    <li class="filter" data-role="button" data-filter=".hproducts">Herbal Products</li>
                    <li class="filter" data-role="button" data-filter=".hpharma">Herbal Pharma Products</li>
                    <li class="filter" data-role="button" data-filter=".pcare">Personal Care Products</li>
                </ul>
            </div>
            <div class="filter-list row">
                <!-- Project Block -->
                <div class="project-block all mix hpharma pcare hproducts col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/herbal-product-1.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/herbal-product-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block all mix hproducts col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/herbal-product-2.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/herbal-product-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block all mix hproducts col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/herbal-product-3.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/herbal-product-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block all mix hproducts col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/herbal-product-4.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/herbal-product-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block all mix hproducts col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/herbal-product-5.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/herbal-product-5.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block all mix hproducts col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/herbal-product-6.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/herbal-product-6.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block all mix hproducts col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/herbal-product-7.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/herbal-product-7.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block all mix hproducts col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/herbal-product-8.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/herbal-product-8.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block all mix hproducts col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/herbal-product-9.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/herbal-product-9.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block all mix hpharma col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/herbal-pharma-product-1.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/herbal-pharma-product-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block all mix hpharma col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/herbal-pharma-product-2.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/herbal-pharma-product-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block all mix hpharma col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/herbal-pharma-product-3.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/herbal-pharma-product-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block all mix hpharma col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/herbal-pharma-product-4.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/herbal-pharma-product-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block all mix hpharma col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/herbal-pharma-product-5.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/herbal-pharma-product-5.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block all mix hpharma col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/herbal-pharma-product-6.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/herbal-pharma-product-6.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block all mix pcare col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/personal-care-products-1.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/personal-care-products-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block all mix pcare col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/personal-care-products-2.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/personal-care-products-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Block -->
                <div class="project-block all mix pcare col-lg-3 col-md-6 col-sm-12">
                    <div class="image-box">
                        <figure class="image"><img src="../../WebsiteCss/images/products/personal-care-products-3.jpg" alt=""></figure>
                        <div class="overlay-box">
                            <div class="btn-box">
                                <a href="../../WebsiteCss/images/products/personal-care-products-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section -->
<section class="testimonial-section">
    <div class="outer-container clearfix">
        <!-- Title Column -->
        <div class="title-column clearfix">
            <div class="inner-column">
                <div class="title-heading1 text-center">
                    <h5>Testimonial</h5>
                    <h1>What Client Says</h1>
                </div>
                <div class="text">Looking at its layout. The point of using very profectly is that it has a more-or-less normal distribution of letters, as opposed</div>
            </div>
        </div>
        <!-- Testimonial Column -->
        <div class="testimonial-column clearfix" style="background-image: url(../../WebsiteCss/images/background/4.jpg);">
            <div class="inner-column">
                <div class="testimonial-carousel owl-carousel owl-theme">
                    <!-- Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="image-box"><img src="../../WebsiteCss/images/admin1.png" alt=""></div>
                            <div class="text">
                                On taking Herbal Daily 5, I feel fresh &amp; energetic. <br>Earlier I feel some heaviness in my chest &amp; laziness. <br>After starting taking your product, I feel great relief. <br> Most of my family members are using
                                these products and feeling relief.<br> Please maintain the quality of products.
                            </div>
                            <div class="info-box">
                                <h4 class="name">Suresh Kumar</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="image-box"><img src="../../WebsiteCss/images/admin1.png" alt=""></div>
                            <div class="text">I am using herbaldaily 5 for more than 1 year. <br> I am feeling energetic and better after taking it daily. <br>My sinus and constipation problem is improving</div>
                            <div class="info-box">
                                <h4 class="name">S K Singh</h4>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial Block -->
                    <div class="testimonial-block">
                        <div class="inner-box">
                            <div class="image-box"><img src="../../WebsiteCss/images/admin1.png" alt=""></div>
                            <div class="text">All the products of Dhara World are superb and cures <br>the disease very Fast with no after effects, <br>really satisfied, THANK YOU Dhara World</div>
                            <div class="info-box">
                                <h4 class="name">Christina Cox</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Testimonial Section -->
<!--Clients Section-->
<section class="clients-section style-two">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-1.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-2.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-3.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-4.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-5.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-6.jpg" alt="client"></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box">
                        <a href="#"><img src="../../WebsiteCss/images/clients/certi-7.jpg" alt="client"></a>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--End Clients Section-->
