<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dharaworld Harbal Products</title>
    <!-- Stylesheets -->
    <link href="../../WebsiteCss/css/bootstrap.css" rel="stylesheet">
    <link href="../../WebsiteCss/css/style.css" rel="stylesheet">
    <link href="../../WebsiteCss/css/responsive.css" rel="stylesheet">
    <!--Color Switcher Mockup-->
    <link href="../../WebsiteCss/css/color-switcher-design.css" rel="stylesheet">
    <!--Color Themes-->
    <link id="theme-color-file" href="../../WebsiteCss/css/color-themes/default-theme.css" rel="stylesheet">

    <link rel="shortcut icon" href="../../WebsiteCss/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="../../WebsiteCss/images/favicon.png" type="image/x-icon">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>
        <header class="main-header header-style-six">
            <div class="outer-container">
                <div class="main-box clearfix">
                    <div class="logo-box">
                        <div class="logo">
                            <a href="/Home/Website"><img src="../../WebsiteCss/images/logo-2.png" alt="" title=""></a>
                        </div>
                    </div>
                    <!-- Main Menu End-->
                    <div class="outer-box clearfix">
                        <ul class="contact-info">
                            <li><span class="fa fa-phone text-white"></span> (+91) 9198707017 </li>
                            <li><span class="fa fa-envelope-o text-white"></span> support@dharaworld.com</li>
                            
                            <li><a href="/Home/Login" class="text-white">Login</a></li>
                            <li><a href="/Home/Registration" class="text-white">Registration</a></li>
                            <li><a href="/Home/ContactUs" class="text-white">Contact Us</a></li>
                            @*<li><a href="/Home/BookingRequest" class="text-white">Booking Request</a></li>*@
                        </ul>
                    </div>
                    <!-- Btn Box -->
                    <div class="btn-box">
                        <button class="nav-toggler"><span class="icon fa fa-bars"></span></button>
                    </div>
                </div>
            </div>
        </header>
        <!--End Main Header -->
        <!--Form Back Drop-->
        <div class="form-back-drop"></div>
        <!-- Hidden Bar -->
        <section class="sidenav-bar">
            <div class="inner-box">
                <div class="upper-box">
                    <div class="logo">
                        <a href="/Home/Website"><img src="../../WebsiteCss/images/logo-2.png" alt=""></a>
                    </div>
                    <div class="cross-icon"><span class="fa fa-times"></span></div>
                </div>
                <!-- .Side Nav -->
                <nav class="side-nav">
                    <ul class="navigation clearfix">
                        <li class="current"><a href="/Home/Website" class="text-white">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="text-white">About Us</a>
                            <ul>
                                <li><a href="/Home/AboutUs" class="text-white">About The Company</a></li>
                                <li><a href="/Home/Vission" class="text-white">Vision &amp; Mision</a></li>
                                <li><a href="/Home/CompanyDesk" class="text-white">Company Desk</a></li>
                                <li><a href="/Home/legal" class="text-white">Legal Documents</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="text-white">Our Products</a>
                            <ul>
                                <li><a href="/Home/ProductList" class="text-white">Product List</a></li>
                                <li><a href="/Home/ProductCategories" class="text-white">Product Categories</a></li>
                                <li><a href="/Home/Packages" class="text-white">Product Packages</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="text-white">Downloads</a>
                            <ul>
                                <li><a href="../../WebsiteCss/images/pdf-files/dhara-world-distributor-form.pdf" target="_blank" class="text-white"> Registration Form</a></li>
                                <li><a href="../../WebsiteCss/images/pdf-files/DW_FRANCHISE_FORM.pdf" target="_blank" class="text-white"> Franchise Form</a></li>
                                <li><a href="/Home/Brochure" class="text-white">Brochure</a></li>
                                <li><a href="/Home/OnePager" class="text-white"> One Pager</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="text-white">Events</a>
                            <ul>
                                <li><a href="/Home/Events" class="text-white">Events</a></li>
                                <li><a href="/Home/Gallery" class="text-white">Gallery</a></li>
                            </ul>
                        </li>
                        <li><a href="/Home/Ventures" class="text-white">Our Ventures</a></li>
                        <li><a href="/Home/News" class="text-white">News</a></li>
                        <li><a href="/Home/ContactUs" class="text-white">Contact Us</a></li>
                        <li><a href="/Home/Login" class="text-white">Login</a></li>
                        <li><a href="/Home/FranchiseLogin" class="text-white">Inventory</a></li>
                        <li><a href="/Home/Registration" class="text-white">Registration</a></li>
                        <li><a href="/Home/BookingRequest" class="text-white">Booking Request</a></li>
                    </ul>
                </nav>
                <!-- /.Side-menu -->
            </div>
        </section>
        <!--End Hidden Bar -->
        <!-- Bnner Section -->
        @RenderBody();
        <footer class="main-footer alternate" style="background-image: url(../../WebsiteCss/images/background/5.jpg);">
            <div class="auto-container">
                <!--Widgets Section-->
                <div class="widgets-section">
                    <div class="row">
                        <!--Big Column-->
                        <div class="big-column col-xl-7 col-lg-12 col-md-12 col-sm-12">
                            <div class="row">
                                <!--Footer Column-->
                                <div class="footer-column col-xl-8 col-lg-8 col-md-8 col-sm-12">
                                    <div class="footer-widget about-widget">
                                        <div class="footer-logo">
                                            <figure>
                                                <a href="/Home/Website"><img src="../../WebsiteCss/images/footer-logo.png" alt=""></a>
                                            </figure>
                                        </div>
                                        <div class="widget-content">
                                            <div class="text">
                                                We are a global nutrition company that has helped people healthy and active life. Our Mission is to change people's lives by providing the best business opportunity in direct selling and the best nutrition and
                                                weight-management products in the world.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Footer Column-->
                                <div class="footer-column col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                    <div class="footer-widget recent-posts">
                                        <!--Footer Column-->
                                        <div class="footer-widget links-widget">
                                            <h2 class="widget-title">My Account</h2>
                                            <div class="widget-content">
                                                <ul class="list">
                                                    <li><a href="#">My account</a></li>
                                                    <li><a href="#">Discount</a></li>
                                                    <li><a href="#">Personal information</a></li>
                                                    <li><a href="#">My address</a></li>
                                                    <li><a href="#">Order history</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Big Column-->
                        <div class="big-column col-xl-5 col-lg-12 col-md-12 col-sm-12">
                            <div class="row clearfix">
                                <div class="footer-column col-xl-5 col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget links-widget">
                                        <h2 class="widget-title">Useful links</h2>
                                        <div class="widget-content">
                                            <ul class="list">
                                                <li><a href="/Home/AboutUs" class="text-white">About The Company</a></li>
                                                <li><a href="/Home/Vission" class="text-white">Vision &amp; Mision</a></li>
                                                <li><a href="/Home/Events" class="text-white">Events</a></li>
                                                <li><a href="/Home/News" class="text-white">News</a></li>
                                                <li><a href="/Home/ContactUs" class="text-white">Contact Us</a></li>
                                                <li><a href="/Home/legal" class="text-white">Legal Documents</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--Footer Column-->
                                <div class="footer-column col-xl-7 col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget gallery-widget">
                                        <h2 class="widget-title">Location</h2>
                                        <div class="widget-content">
                                            <ul class="address">
                                                <li>
                                                    <i class="fa fa-map-marker"></i> Shop no : THSH2/5H-10CP 4/1 Square One Plaza RatanKhand Lucknow UP 226012
                                                </li>
                                                <li>
                                                    <i class="fa fa-envelope"></i>
                                                    <a href="mailto:dharaworldhealth@gmail.com">dharaworldhealth@gmail.com</a>
                                                </li>
                                                <li>
                                                    <i class="fa fa-phone"></i>
                                                    <a href="tel:9198707017">+91 9198707017</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="inner-container clearfix">
                    
                        <div class="copyright-text">
                            <p>
                                Copyright © 2019 Dhara World Health & Personal Care Pvt Ltd ‐ All Rights Reserved
                                <a href="http://dharaworld.com/" target="_blank"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div>
        <script src="../../WebsiteCss/js/jquery.js"></script>
        <script src="../../WebsiteCss/js/popper.min.js"></script>
        <script src="../../WebsiteCss/js/bootstrap.min.js"></script>
        <script src="../../WebsiteCss/js/jquery.fancybox.js"></script>
        <script src="../../WebsiteCss/js/owl.js"></script>
        <script src="../../WebsiteCss/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="../../WebsiteCss/js/wow.js"></script>
        <script src="../../WebsiteCss/js/appear.js"></script>
        <script src="../../WebsiteCss/js/mixitup.js"></script>
        <script src="../../WebsiteCss/js/script.js"></script>
        <!-- Color Setting -->
        <script src="../../WebsiteCss/js/color-settings.js"></script>
</body>

</html>
