<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Grexsan - Admin Dashboard Template</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/components.css">
    <link rel="stylesheet" href="assets/bundles/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="assets/bundles/flag-icon-css/css/flag-icon.min.css">
    <!-- Custom style CSS -->

    <link rel='shortcut icon' type='image/x-icon' href='assets/img/favicon.ico' />

</head>

<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="loader"></div>
        <div id="app">
            <div class="main-wrapper main-wrapper-1">
                @*<div class="outer-box clearfix">
                    <ul class="contact-info">
                        <li><span class="fa fa-phone text-white"></span> (+91) 9198707017 </li>
                        <li><span class="fa fa-envelope-o text-white"></span> support@dharaworld.com</li>

                        <li><a href="/Home/Login" class="text-white">Login</a></li>
                        <li><a href="/Home/Registration" class="text-white">Registration</a></li>
                        <li><a href="/Home/ContactUs" class="text-white">Contact Us</a></li>
                        @*<li><a href="/Home/BookingRequest" class="text-white">Booking Request</a></li>
                    </ul>
                </div>*@
                
              
                <!-- Main Content -->
            
                @RenderBody();
                <footer class="main-footer">
                    <div class="footer-left">
                        Copyright &copy; 2020 <div class="bullet"></div> Design By <a href="#">Snkthemes</a>
                    </div>
                    <div class="footer-right">
                    </div>
                </footer>
            </div>
        </div>
   
        <!--End Hidden Bar -->
        <!-- Bnner Section -->
       
     
        </div>
    <script src="assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="assets/bundles/echart/echarts.js"></script>

    <script src="assets/bundles/chartjs/chart.min.js"></script>
    <script src="assets/bundles/apexcharts/apexcharts.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="assets/js/page/index.js"></script>
    <!-- Template JS File -->
    <script src="assets/js/scripts.js"></script>
    <script src="assets/bundles/jquery.sparkline.min.js"></script>
</body>

</html>
