@model DigiDirect.Models.Home

@{
    ViewBag.Title = "ProductServies";
    Layout = "~/Views/Shared/_WebisteLayout.cshtml";
}
<title>@ViewBag.Title</title>

<!--Page Title-->
<section class="page-title" style="background-image:url(../WebsiteCss/images/background/5.jpg)">
    <div class="auto-container">
        <div class="clearfix">
            <div class="pull-left">
                <div class="title">Digi Direct Pvt. Ltd</div>
                <h2>Product & Services</h2>
            </div>
            <div class="pull-right">
                <ul class="page-breadcrumb">
                    <li><a href="index.html">home</a></li>
                    <li>Product & Services</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Sidebar Page Container -->
<div class="auto-container mt-lg-5">
    <div class="row clearfix">

        <!--Content Side-->
        <div class="content-side col-lg-12 col-md-12 col-sm-12">
            <div class="row clearfix">

                <!--Shop Item-->
                <div class="shop-item col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/WebsiteCss/images/resource/04.jpg" alt="">
                            <div class="overlay-box">
                                @*<ul class="cart-option">
                                    <li><a ><span class="fa fa-shopping-cart"></span></a></li>
                                </ul>*@
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a > DC GREEN TEA</a></h3>
                            <div class="clearfix">
                                <div class="pull-left">
                                    <div class="price">MRP 1199/-</div>
                                </div>
                                <div class="pull-right">
                                    <!--Rating-->
                                    @*<div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star-o"></span>
                                    </div>*@
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--Shop Item-->
                <div class="shop-item col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/WebsiteCss/images/resource/05.jpg" alt="">
                            <div class="overlay-box">
                                @*<ul class="cart-option">
                                    <li><a ><span class="fa fa-shopping-cart"></span></a></li>
                                </ul>*@
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a >DC PUNCH TULSI</a></h3>
                            <div class="clearfix">
                                <div class="pull-left">
                                    <div class="price">MRP 899/-</div>
                                </div>
                                <div class="pull-right">
                                    <!--Rating-->
                                    @*<div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star-o"></span>
                                    </div>*@
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--Shop Item-->
                <div class="shop-item col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/WebsiteCss/images/resource/06.jpg" alt="">
                            <div class="overlay-box">
                                @*<ul class="cart-option">
                                    <li><a ><span class="fa fa-shopping-cart"></span></a></li>
                                </ul>*@
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a >DC DIABETIC CARE</a></h3>
                            <div class="clearfix">
                                <div class="pull-left">
                                    <div class="price">MRP 1699/-</div>
                                </div>
                                <div class="pull-right">
                                    <!--Rating-->
                                    @*<div class="rating">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star-o"></span>
                                    </div>*@
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--Shop Item-->
                <div class="shop-item col-lg-3 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image">
                            <img src="~/WebsiteCss/images/resource/03.jpg" alt="">
                            <div class="overlay-box">
                                @*<ul class="cart-option">
                            <li><a ><span class="fa fa-shopping-cart"></span></a></li>
                        </ul>*@
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a>DC SEA BUKTHORNE FLUID</a></h3>
                            <div class="clearfix">
                                <div class="pull-left">
                                    <div class="price">@*<span class="discount">$15.00</span>*@MRP 3150/-</div>
                                </div>
                                <div class="pull-right">
                                    <!--Rating-->
                                    @*<div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-o"></span>
                            </div>*@
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            <!--Post Share Options-->
            @*<div class="styled-pagination text-center">
                <ul class="clearfix">
                    <li class="prev"><a href="#"><span class="flaticon-left-arrow"></span> </a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li class="active"><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li class="next"><a href="#"><span class="flaticon-right-arrow"></span> </a></li>
                </ul>
            </div>

        </div>*@

        <!--Sidebar Side-->
        @*<div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
            <aside class="sidebar">

                <!-- Search -->
                <div class="sidebar-widget search-box">
                    <form method="post" action="contact.html">
                        <div class="form-group">
                            <input type="search" name="search-field" value="" placeholder="Search....." required="">
                            <button type="submit"><span class="icon fa fa-search"></span></button>
                        </div>
                    </form>
                </div>

                <!-- Categories Widget -->
                <div class="sidebar-widget categories-widget">
                    <div class="sidebar-title-two">
                        <h4>Categories</h4>
                    </div>
                    <div class="widget-content">
                        <ul class="blog-cat">
                            <li><a href="#">Oil &amp; Gas Engineering <span>04</span></a></li>
                            <li><a href="#">Manufacturing <span>06</span></a></li>
                            <li><a href="#">Chemical Research <span>01</span></a></li>
                            <li><a href="#">Auto Motive <span>02</span></a></li>
                            <li><a href="#">Agricultural <span>03</span></a></li>
                            <li><a href="#">Mechanical <span>08</span></a></li>
                        </ul>
                    </div>
                </div>

                <!-- Popular Posts -->
                <div class="sidebar-widget popular-posts-two">
                    <div class="sidebar-title-two">
                        <h4>Popular Posts</h4>
                    </div>
                    <div class="widget-content">
                        <article class="post">
                            <figure class="post-thumb"><img src="images/resource/post-thumb-1.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                            <div class="text"><a href="news-detail.html">Best factory award of the year 2018</a></div>
                            <div class="post-info">Views 250</div>
                        </article>
                        <article class="post">
                            <figure class="post-thumb"><img src="images/resource/post-thumb-4.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                            <div class="text"><a href="news-detail.html">Materials for the carbohy-drate ecnomy</a></div>
                            <div class="post-info">Views 52</div>
                        </article>

                        <article class="post">
                            <figure class="post-thumb"><img src="images/resource/post-thumb-5.jpg" alt=""><a href="news-detail.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
                            <div class="text"><a href="news-detail.html">We have a great work team &amp; environment.</a></div>
                            <div class="post-info">Views 150</div>
                        </article>
                    </div>

                </div>

            </aside>
        </div>*@

                </div>
            </div>
    </div>
</div>
