@model DreamCrusher.Models.Website

@{
    ViewBag.Title = "contact";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}



    <!-- Breadcrumbs Start -->
    <div class="rs-breadcrumbs img1">
        <div class="container">
            <div class="breadcrumbs-inner">
                <h1 class="page-title">
                    Grievance Redressal
                    <span class="watermark">Grievance Redressal</span>
                </h1>
            </div>
        </div>
    </div>
    <!-- Breadcrumbs End -->


    <div class="rs-contact home3-contact-style bg18 pt-100 pb-100 md-pt-70 md-pb-70">
        <div class="container">
            <div class="row margin-0">
                <div class="col-lg-8 padding-0 md-mb-50">
                    <div class="contact-wrap">
                        <div class="sec-title mb-55 md-mb-35">
                            <span class="sub-text small">Contact Us</span>
                            <h2 class="title title3">
                                For Any Kind Of Help
                                And Informations
                            </h2>
                        </div>
                        <div id="form-messages"></div>
                        <form id="contact-form" method="post" action="mailer.php">
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <input class="from-control" type="text" id="name" name="name" placeholder="Name*" required="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <input class="from-control" type="text" id="email" name="email" placeholder="E-Mail*" required="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <input class="from-control" type="text" name="User Id" placeholder="User Id*" required="">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                        <input class="from-control" type="text" id="phone" name="phone" placeholder="Phone Number*" required="">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 mb-30">
                                        <input class="from-control" type="text" name="subject" placeholder="Subject*" required="">
                                    </div>

                                    <div class="col-lg-12 mb-35">
                                        <textarea class="from-control" id="message" name="message" placeholder="Your message Here" required=""></textarea>
                                    </div>
                                </div>
                                <div class="btn-part">
                                    <div class="form-group mb-0">
                                        <input class="readon submit orange-more rounded" type="submit" value="Submit Now">
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 padding-0">
                    <div class="icon-box-wraper">
                        <div class="sec-title mb-40">
                            <h2 class="title title3 small">Contact Info</h2>
                        </div>
                        <div class="icon-box-item mb-35">
                            <div class="icon-box">
                                <i class="flaticon-location"></i>
                            </div>
                            <div class="icon-content">
                                <h2 class="title"><a href="#!">Registered Office:</a></h2>
                                <p class="services-txt">Devkali Bypass Lucknow Road Ayodhya UP 224001 India</p>
                            </div>
                        </div>
                        <div class="icon-box-item mb-35">
                            <div class="icon-box">
                                <i class="flaticon-call"></i>
                            </div>
                            <div class="icon-content">
                                <h2 class="title"><a href="#!">Call for help:</a></h2>
                                <a href="tel:+91 7275 065834">+91 7275 065834</a>
                            </div>
                        </div>
                        <div class="icon-box-item mb-35">
                            <div class="icon-box">
                                <i class="flaticon-email"></i>
                            </div>
                            <div class="icon-content">
                                <h2 class="title"><a href="#">Mail Us</a></h2>
                                <a href="mailto:support@dreamcrushers.in">support@dreamcrushers.in</a>
                            </div>
                        </div>
                        <div class="icon-box-item">
                            <div class="icon-box">
                                <i class="flaticon-time-call"></i>
                            </div>
                            <div class="icon-content">
                                <h2 class="title"><a href="#">Opening Hours</a></h2>
                                <p class="services-txt">Mon - Sat 10.00am to 07.00pm</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

