@model DreamCrusher.Models.Home

@{
    ViewBag.Title = "HighestEarnerClub";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}


    

         <!-- Breadcrumbs Start -->
         <div class="rs-breadcrumbs img1">
            <div class="container">
                <div class="breadcrumbs-inner">
                    <h1 class="page-title">
                        Highest Earner Club
                        <span class="watermark">Highest Earner Club</span>
                    </h1>
                </div>
            </div>
        </div>
        <!-- Breadcrumbs End -->


        <div class="rs-project style3 gray-bg pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="row">
                    @if (Model != null)
                    {
                        if (Model.listhighestearner != null)
                        {
                            int i = 1;
                            foreach (var Item in Model.listhighestearner)
                            {
                            <div class="col-lg-4 col-md-6 mb-30">
                            <div class="project-item">
                            <div class="project-img">
                                <div class="head">
                                    <h3>@i</h3>
                                </div>
                                @if (Item.ProfilePic == "")
                                {

                                    <img src="../WebsiteCss/images/usericon.jpg" class="img-fluid rounded-circle" alt="reward" >
                                }
                                else
                                {

                                    <a href="project-single.html"><img src="@Item.ProfilePic" alt="images"></a>
                                }
                              
                            </div>
                            <div class="project-content">
                                <div class="portfolio-inner">
                                    <span class="category"><a href="project-single.html">@Item.Name</a></span>
                                    <h3 class="title"><a href="project-single.html">@Item.GrossAmount</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                                i++;
                            }
                        }
                    }
                    @*<div class="col-lg-4 col-md-6 mb-30">
                        <div class="project-item">
                            <div class="project-img">
                                <a href="project-single.html"><img src="~/Websiteassets/images/project/style1/2.jpg" alt="images"></a>
                            </div>
                            <div class="project-content">
                                <div class="portfolio-inner">
                                    <span class="category"><a href="project-single.html">Investment</a></span>
                                    <h3 class="title"><a href="project-single.html">Strength solutions</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="project-item">
                            <div class="project-img">
                                <a href="project-single.html"><img src="~/Websiteassets/images/project/style1/3.jpg" alt="images"></a>
                            </div>
                            <div class="project-content">
                                <div class="portfolio-inner">
                                    <span class="category"><a href="project-single.html">Business Strategy</a></span>
                                    <h3 class="title"><a href="project-single.html">Business analytics</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 md-mb-30">
                        <div class="project-item">
                            <div class="project-img">
                                <a href="project-single.html"><img src="~/Websiteassets/images/project/style1/4.jpg" alt="images"></a>
                            </div>
                            <div class="project-content">
                                <div class="portfolio-inner">
                                    <span class="category"><a href="project-single.html">Business Strategy</a></span>
                                    <h3 class="title"><a href="project-single.html">Stock market analysis</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 sm-mb-30">
                        <div class="project-item">
                            <div class="project-img">
                                <a href="project-single.html"><img src="~/Websiteassets/images/project/style1/5.jpg" alt="images"></a>
                            </div>
                            <div class="project-content">
                                <div class="portfolio-inner">
                                    <span class="category"><a href="project-single.html">Financial</a></span>
                                    <h3 class="title"><a href="project-single.html">Sales analysis</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="project-item">
                            <div class="project-img">
                                <a href="project-single.html"><img src="~/Websiteassets/images/project/style1/6.jpg" alt="images"></a>
                            </div>
                            <div class="project-content">
                                <div class="portfolio-inner">
                                    <span class="category"><a href="project-single.html">Tax Consulting</a></span>
                                    <h3 class="title"><a href="project-single.html">Stock investments</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    

                </div>
            </div>
        </div>
        

