@model DreamCrusher.Models.Home

@{
    ViewBag.Title = "HighestEarnerClub";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}


        <style>
            .rs-project.style3 .project-item .project-img a img {
                height: 452px;
                width: 100%;
            }
        </style>

         <!-- Breadcrumbs Start -->
         <div class="rs-breadcrumbs img1">
            <div class="container">
                <div class="breadcrumbs-inner">
                    <h1 class="page-title">
                        Highest Earner Club
                        <span class="watermark">Highest Earner Club</span>
                    </h1>
                </div>
            </div>
        </div>
        <!-- Breadcrumbs End -->


        <div class="rs-project style3 gray-bg pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="row">
                    @if (Model != null)
                    {
                        if (Model.listhighestearner != null)
                        {
                            int i = 1;
                            foreach (var Item in Model.listhighestearner)
                            {
                            <div class="col-lg-4 col-md-6 mb-30">
                            <div class="project-item">
                            <div class="project-img">
                                
                                @if (Item.ProfilePic == "" || Item.ProfilePic == null)
                                {

                                    <img src="../WebsiteCss/images/usericon.jpg" class="img-fluid rounded-circle" alt="reward" >
                                }
                                else
                                {

                                    <a href="#!"><img src="@Item.ProfilePic" alt="images"></a>
                                }
                              
                            </div>
                            <div class="project-content">
                                <div class="portfolio-inner">
                                    <div class="head">
                                        <h3 class="mb-0 bg-white rounded-circle d-block" style="width:50px; height:50px; text-align:center">@i</h3>
                                    </div>
                                    <h3 class="mb-0 text-white">@Item.Name</h3>
                                    <h2 class="title"><a href="#!">@Item.GrossAmount</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                                i++;
                            }
                        }
                    }

                </div>
            </div>
        </div>
        

