@model DreamCrusher.Models.Website

@{
    ViewBag.Title = "LegalDocuments";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}

  <!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img1">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Legal Documents
                <span class="watermark"> Legal Documents</span>
            </h1>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->


<div class="rs-project style1 red-overly-bg pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 mb-30">
                <div class="project-item card">
                    <div class="project-img">
                        <img src="/Websiteassets/images/document/certificate.jpg" alt="images">
                    </div>
                    <div class="project-content">
                        <div class="project-inner">
                            <h3 class="title"><a href="#!">Certificate of Incorporation</a></h3>
                            <span class="category"><a href="#!">LEGAL DOCUMENTS</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 mb-30">
                <div class="project-item card">
                    <div class="project-img">
                        <img src="/Websiteassets/images/document/pan-card.jpg" alt="images">
                    </div>
                    <div class="project-content">
                        <div class="project-inner">
                            <h3 class="title"><a href="#!">Pan Card</a></h3>
                            <span class="category"><a href="#!">LEGAL DOCUMENTS</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

