@model DreamCrusher.Models.Website

@{
    ViewBag.Title = "OurBankers";
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}



<!-- Breadcrumbs Start -->
<div class="rs-breadcrumbs img1">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Our Bankers
                <span class="watermark">Our Bankers</span>
            </h1>
        </div>
    </div>
</div>
<!-- Breadcrumbs End -->


<div class="rs-contact home3-contact-style bg18 pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row y-middle">
            <div class="col-lg-6 pr-70 md-pr-15 md-mb-50">
                <div class="sec-title">
                    <h3 class="mb-10">ACCOUNT NAME</h3>
                    <h5 class="text-muted mb-1">DREAM CRUSHERS PRIVATE LIMITED</h5>
                    <p class="mb-1"><strong>ACCOUNT NUMBER</strong> </p>
                    <p class="mb-1"><strong>029005005468</strong></p>
                    <p class="mb-1"><strong>IFSC CODE</strong> </p>
                    <p class="mb-1"><strong>ICIC0000290</strong> </p>
                    <p class="mb-1"><strong>BANK -  ICICI  BANK LIMITED</strong></p>
                    <p class="mb-1"><strong>BRANCH -  NIYAWAN  FAIZABAD</strong></p>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <div style="background:#000"  class="position-relative">
                        <img src="/Websiteassets/images/pattern.png" alt="images">
                        <div class="position-absolute top-50 start-50 translate-middle text-center">
                            <h3 class="text-white">Got any Questions? <br> Call Us Today</h3>
                            <h5 class="text-white">+91 7275 065834</h5>
                            <h5 class="text-white">support@Dreamcrushers.In</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

